<body>
  <app-menu-asset></app-menu-asset>

  <h2 align="center">Home Asset</h2>

  <br>
  <div class="bordo rcorners" style="width:fit-content;text-align: center;">

  <table style="border-collapse:collapse;">
    
    <caption>
    <tr >
      <th><h1>Assets</h1></th>

    </caption>
    <tr class="border_bottom">
          
      <th>
        ID assets
      </th>
  
      <th>
        Descrizione
      </th>
           
      <th>
        Tipo
      </th>
      <th>
        Prezzo
      </th>
    </tr> 
            
    <tr *ngFor="let asset of assets; let idx=index;">
          
      <td>
        <input type="text" value="{{asset.idAsset}}" class="labcor labtext" size="2" disabled>
      </td>
      
      <td>
        <input name="descrizione" [value]="assets[idx].descrizione" (input)="assets[idx].descrizione=$event.target.value" type="text" class="labcor labtext" size="10" [disabled]="disabledRow[idx]">
      </td>
           
      <td>
          <input name="tipo" [value]="assets[idx].tipo" (input)="assets[idx].tipo=$event.target.value" type="text" class="labcor labtext" size="10" [disabled]="disabledRow[idx]">
      </td>
      <td>
        <input name="prezzo" [ngStyle]="!mapValidator[idx].get('prezzo') && {'border-color': 'red','color': 'red'}" 
        [(ngModel)]="assets[idx].prezzo" (ngModelChange)="valModPrezzo($event,idx)"  type="text" class="labcor labtext" size="10"
        title="Valori accettati: [6] [6.56] [6,56]" [disabled]="disabledRow[idx]">
    </td>
                    
      <div *ngIf="visButton">
        <td>
          <Button class="button button1" (click)="modify($event, idx)">Modifica</Button>
        </td>
           
        <td>
          <Button class="button button3" (click)="delete($event, asset.idAsset)">Elimina</Button>
        </td>
      </div>


      

      <td *ngIf="!disabledRow[idx]">

            <Button class="button button1" (click)="apply($event, idx, asset.idAsset,f)" [disabled]="!validationPrezzo">Applica</Button>
          </td>
          <td *ngIf="!disabledRow[idx]">
            <Button class="button button3" (click)="annulla($event)">Annulla</Button>
          </td>


    </tr>	
    
 


  <tr *ngIf="visInsert">

      <td>
        <input type="text" value="-" class="labcor labtext" size="2" disabled>
      </td>
      <td>
          <input name="descrizione" value="" (input)="insertAsset.descrizione=$event.target.value" type="text"
                 class="labcor labtext" size="10">
      </td>
      <td> 
        <input name="tipo" value="" (input)="insertAsset.tipo=$event.target.value" type="text"
          class="labcor labtext" size="10">
      </td>

      
      <td>
        <input name="prezzo" value="" [ngStyle]="!validationPrezzo && {'border-color': 'red','color': 'red'}" 
        [(ngModel)]="insertAsset.prezzo" (ngModelChange)="valInsPrezzo($event)" type="text" class="labcor labtext" size="10" 
        title="Valori accettati: [6] [6.56] [6,56]" required>
      </td>
    
     


      <td *ngIf="visInsert">
        <Button class="button button1" (click)="applyInsert($event)" [disabled]="!validationPrezzo">Applica</Button>
      </td>
      <td *ngIf="visInsert">
        <Button class="button button3" (click)="annulla($event)">Annulla</Button>
      </td>

  </tr>
  <tr>
  
  <Button class="button button1" (click)="insert($event)" style="padding: 4% 28%;">Inserisci</Button> 
  </tr>



</table>




  </div>
</body>
