<body>
  <app-menu-asset></app-menu-asset>
  
  <form #f='ngForm'>
    
  <table style="border-collapse:collapse;" class="bordo corners" width="50%">	
    
    
    <tr class="border_bottom">
      <th><h1>Assets</h1></th><td></td><td></td><td></td><td class="imgB"></td>
    </tr>
  
    <tr>
          
      <th>
        ID assets
      </th>
  
      <th>
        Descrizione
      </th>
           
      <th>
        Tipo
      </th>
      <th>
        Prezzo
      </th>
    </tr>
            
    <tr *ngFor="let asset of assets; let idx=index;">
          
      <td>
        <input type="text" value="{{asset.idAsset}}" class="labcor labtext" size="2" disabled>
      </td>
      
      <td>
        <input name="descrizione" [value]="assets[idx].descrizione" (input)="assets[idx].descrizione=$event.target.value" type="text" class="labcor labtext" size="10" [disabled]="disabledRow[idx]">
      </td>
           
      <td>
          <input name="tipo" [value]="assets[idx].tipo" (input)="assets[idx].tipo=$event.target.value" type="text" class="labcor labtext" size="10" [disabled]="disabledRow[idx]">
      </td>
      <td>
        <input name="prezzo" [value]="assets[idx].prezzo" (input)="assets[idx].prezzo=$event.target.value" type="text" class="labcor labtext" size="10" [disabled]="disabledRow[idx]">
    </td>
                    
      <div *ngIf="visButton">
        <td>
          <Button class="button button1" (click)="modify($event, idx)">Modifica</Button>
        </td>
           
        <td>
          <Button class="button button3" (click)="delete($event, asset.idAsset)">Elimina</Button>
        </td>
      </div>


      

      <div *ngIf="!disabledRow[idx]">
          <td>   
            <Button class="button button1" (click)="apply($event, idx, asset.idAsset,f)">Applica</Button>
          </td>
          <td>   
            <Button class="button button3" (click)="annulla($event)">Annulla</Button>
          </td>
      </div>

    </tr>	
    
 


  <!--utenti[idx+1].username
  {{utenti[utenti.length-1].iduser + 1}}-->
  <tr *ngIf="visInsert">

      <td>
        <input type="text" value="-" class="labcor labtext" size="2" disabled>
      </td>
      <td> 
        <input name="tipo" value="" (input)="insertAsset.tipo=$event.target.value" type="text"
          class="labcor labtext" size="10">
      </td>
      <td>
        <input name="descrizione" value="" (input)="insertAsset.descrizione=$event.target.value" type="text"
          class="labcor labtext" size="10">
      </td>
      
      <td>
        <input name="prezzo" value="" (input)="insertAsset.prezzo=$event.target.value"
          type="text" class="labcor labtext" size="10">
      </td>
    
     

      <div *ngIf="visInsert">
          <td>   
            <Button class="button button1" (click)="applyInsert($event)">Applica</Button>
          </td>
          <td>   
              <Button class="button button3" (click)="annulla($event)">Annulla</Button>
            </td>
      </div>

  </tr>
  <tr>
  
  <Button class="button button1" (click)="insert($event)" style="padding: 4% 28%;">Inserisci</Button> 
  </tr>

</table>



  </form>
</body>
