<app-menu-booking></app-menu-booking>

<body>

  <div>
    <h2>Lista Movimenti</h2>
    <table>

      <tr>
        <th>
          ID Badge Reader
        </th>
         
        <th>
          ID Badge
        </th>
        <th>
          Data inizio
        </th>
        <th>
          Data fine
        </th>
     </tr>
     
     <tr *ngFor="let mov of movimenti">
       
       <td>
         <p>{{mov.badgereader.idBadgeReader}}</p>
       </td>
       
        <td>
          <p>{{mov.badge.idBadge}}</p>
        </td>
        <td>
          <p>{{mov.orainizio}}</p>
        </td>
        <td>
          <p>{{mov.orafine}}</p>
        </td>
        
     </tr>

    </table>

  </div>

</body>