<body>
    <form class="sidenav">
        
            <a (click)="redirectHomeAsset()">My Assets</a><br> 
            <a (click)="redirectHomeCustomer()">Customers</a><br>

            <a (click)="redirectHomeBooking()">Bookings</a><br>

            <a class="btn btn-lg btn-primary btn-block" 
              href="/Login/logoutControl">Logs</a><br>

            <a class="btn btn-lg btn-primary btn-block" 
              href="/Login/logoutControl">Logout</a><br>
  
    </form>
  
    

  </body>
