.page-body{
     padding: 15px;
 }

.container{
    height: 100%;
}

footer {
    padding: 15px;
    bottom: 0;
}


footer div img {
    width: 32px;
    height: 32px;
}

.navbar-fixed-top {
    position: sticky;
}
img#underNav{
    height: 50px;
    width: 100%;
    margin-bottom: 40px;
}
.iconmenu
{
    width: 32px;
    height: 32px;
}
nav.navbar
{
    margin-bottom: 0px;
    border-bottom: 0px;
}