<body>
<div>
  <app-menu-customer></app-menu-customer>
</div>

<div class="bordo rcorners" style="width:fit-content;text-align: center;">

    <table style="border-collapse:collapse;">
        <caption>
            <th><h1>Badges</h1></th>
        </caption>
        <tr class="border_bottom">
          
      <th>
        ID badge
      </th>
  
      <th>
        Descrizione
      </th>
           
      <th>
        Tipologia
      </th>
            <th></th>
            <th></th>
    </tr>
            
    <tr *ngFor="let badge of badges; let idx=index;">
          
      <td>
        <input type="text" value="{{badge.idBadge}}" class="labcor labtext" size="2" disabled>
      </td>
      
      <td>
        <input name="descrizione" [value]="badges[idx].descrizione" (input)="badges[idx].descrizione=$event.target.value" type="text" class="labcor labtext" size="10" [disabled]="disabledRow[idx]">
      </td>
           
      <td>
          <input name="tipologia" [value]="badges[idx].tipologia" (input)="badges[idx].tipologia=$event.target.value" type="text" class="labcor labtext" size="10" [disabled]="disabledRow[idx]">
      </td>
                    

        <td  *ngIf="visButton">
          <Button class="button button1" (click)="modify($event, idx)"><img width="20" height="20"  src="../assets/images/Edit.png" /></Button>
        </td>
           
        <td  *ngIf="visButton">
          <Button class="button button3" (click)="delete($event, badge.idBadge)"><img width="20" height="20"  src="../assets/images/remove.jpg" /></Button>
        </td>


          <td  *ngIf="!disabledRow[idx]">
            <Button class="button button1" (click)="apply($event, idx, badge.idBadge)"><img width="20" height="20"  src="../assets/images/ok.png" /></Button>
          </td>
          <td  *ngIf="!disabledRow[idx]">
            <Button class="button button3" (click)="annulla($event)"><img width="20" height="20"  src="../assets/images/delete.png" /></Button>
          </td>


    </tr>	


    <tr *ngIf="visInsert">

        <td>
            <input type="text" value="-" class="labcor labtext" size="2" disabled>
          </td>
          
          <td>
            <input name="descrizione" value="" (input)="insertBadge.descrizione=$event.target.value" type="text" class="labcor labtext" size="10" [disabled]="disabledRow[idx]">
          </td>
               
          <td>
              <input name="tipologia" value="" (input)="insertBadge.tipologia=$event.target.value" type="text" class="labcor labtext" size="10" [disabled]="disabledRow[idx]">
          </td>

        <div *ngIf="visInsert">
            <td>   
              <Button class="button button1" (click)="applyInsert($event)"><img width="20" height="20"  src="../assets/images/ok.png" /></Button>
            </td>
            <td>   
                <Button class="button button3" (click)="annulla($event)"><img width="20" height="20"  src="../assets/images/delete.png" /></Button>
              </td>
        </div>

    </tr>
    </table>

    <Button *ngIf="!visInsert && visButton" class="button button1" (click)="insert($event)">Inserisci</Button>

    

</div>
</body>
