<body>
  <div>

    <form #f='ngForm'>

      <div class="imgcontainer">
        <div class="img"></div>
        <img [src]="logo" alt="Login" class="avatar">
      </div>

      <div style="text-align:center">

        <h2>Username</h2>
        <input type="text" name="username" id="inputUser" placeholder="Username" #myUsername="ngModel" ngModel required>
        <br/>
        <span [hidden]="myUsername.valid || myUsername.pristine">Lo username è obbligatorio<br /><br /></span>


        <h2>Password</h2>
        <input type="password" name="password" id="inputPassword" placeholder="Password" #myPassword="ngModel" ngModel required>
        <br/>
        <span [hidden]="myPassword.valid || myPassword.pristine">La password è obbligatoria<br /><br /><br /></span>

        <br/><br/><br/><br/>

        <Button (click)="login(f)" class="btn-primary" [disabled]="!f.valid">Login</Button>
        <br/>
        <span>{{feedback}}</span>
      </div>

    </form>

  </div>
</body>