<body>
   
    <form class="sidenav">
        
            <a (click)="redirectManagementUser()">Users</a><br> 
            <a (click)="redirectManagementBadge()">Badges</a><br>
                  <a class="btn btn-lg btn-primary btn-block"
              href="/Assegnazione/homeAssegnazione?scelta=assegnazioneManagement">Assegnazione Badges</a><br> 
              <a (click)="redirectIndietro()">Indietro</a><br>
        <a class="btn btn-lg btn-primary btn-block" 
            href="/Login/logoutControl">Logout</a><br>
  
    </form>
    
    

  </body>